.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.logo {
  height: 70px;
  width: 200px;
  font-size: 1.3rem;

  mat-icon {
    margin-left: 10px;
    margin-right: 15px;
  }
}
