<div class="countdown-wrapper">
  <div class="countdown">
    <div class="countdown-item">
      <span class="small">Tage</span>
      <span class="big"> {{ days }}</span>
    </div>
    <div class="countdown-item">
      <span class="small">Stunden</span>
      <span class="big"> {{ hours }}</span>
    </div>
    <div class="countdown-item">
      <span class="small">Minuten</span>
      <span class="big"> {{ minutes }}</span>
    </div>
    <div class="countdown-item">
      <span class="small">Sekunden</span>
      <span class="big"> {{ seconds }}</span>
    </div>
  </div>
</div>
