<app-header title="Information"></app-header>

<div class="wrapper">
  <span class="bold">Verantwortlich</span>
  <p class="reverse">
    {{ name }}
    <br />
    {{ city }} ,
    {{ address }}
  </p>
  <p class="reverse">
    {{ email }}
  </p>
  <span class="bold">Version</span>
  <p>{{ version }}</p>
  <span class="bold">Icons</span>
  <p>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
  </p>
</div>
