<app-header title="Manifest"> </app-header>

<div class="content-wrapper">
  <div class="content">
    <div class="rule">
      <h2>Ehrenhaftigkeit</h2>
      <div class="line"></div>
      <p>
        Alle Teilnehmer*innen einer Assikneipentour sind dazu aufgerufen sich als Ehrenfrauen bzw. Ehrenmänner zu
        verhalten. Dazu zählen höfliches Auftreten, vollständiges Austrinken der Getränke
      </p>
    </div>

    <div class="rule">
      <h2>Regent*innen des Reinheitsgebots</h2>
      <div class="line"></div>
      <p>
        Als Regent*innen des Reinheitsgebot zählen alle, die in jeder Kneipe anwesend sind und eine Hopfenhalbe trinken.
        Zudem Bedarf es in Besonderem Maße der allzeitigen Ehrenhaftigkeit.
      </p>
    </div>

    <div class="rule">
      <h2>Mütter der Malzmilch</h2>
      <div class="line"></div>
      <p>
        Jede/r Regent*in erhält nach einer vollständig abgeschlossen Tour den Titel "Mutter der Malzmilch". Dieser Titel
        gilt auf Lebenszeit, es sei denn, eine erneute Kneipentour wird nicht als Regent*in abgeschlossen.
      </p>
      <p>
        Wird eine Mutter der Malzmilch für einen Rechtsspruch benötigt, aber keine ist bei der Tour anwesend, gibt es
        zwei Möglichkeiten:
      </p>
      <ol>
        <li>
          die Gemeinde wählt eine Interims-Mutter (der Titel gilt nur bis zum Ende der Tour)
        </li>
        <li>
          die Gemeinde, lässt die Ehrenfrau/ den Ehrenmann selbst das Recht über sich sprechen. Als Rechtsgrundlage
          dient das Manifest.
        </li>
      </ol>
    </div>

    <div class="rule">
      <h2>Hopfenhalbe</h2>
      <div class="line"></div>
      <p>
        Als Hopfenhalbe zählt ein 0.5l großes Bier. Ausnahme ist, wenn die ausschenkende Kneipe lediglich ein 0.4l Bier
        anbietet. Wahlweise können auch größere Einheiten z.B. Maß, Pincher oder Fass getrunken werden. Die zusätzliche
        Menge Flüßigkeit wird als Durstlöscher gezählt, muss aber aufgrund der Ehrenhaftigkeit gänzlich ausgetrunken
        werden.
      </p>
    </div>

    <div class="rule">
      <h2>Durstlöscher</h2>
      <div class="line"></div>
      <p>
        Getränke die über die Hopfenhalbe hinaus getrunken werden, beispielsweise Kurze, Zwischenwasser oder größere
        Maßeinheiten, sind gestattet. Sie bringen bei der Gemeinde allerdings kein zusätzliches Ansehen. Es sei gesagt,
        dass eine zweite Hopfenhalbe zunächst ein Verstoß gegen das zweite Gebot ist und von einer/m Kneipenkönig*in
        genehmigt werden muss.
      </p>
    </div>

    <div class="rule">
      <h2>Zugzwang</h2>
      <div class="line"></div>
      <p>
        Wenn das erste Bier in einer Kneipe ausgetrunken wurde, muss der Rest der Gruppe zügig austrinken und gemeinsam
        zur nächsten Kneipe aufbrechen. Dies gilt natürlich nur, wenn es der/die Trinker*in zu den Regent*innen des
        Reinheitsgebots zählt. Die Hopfenhalbe in einem Schluck auszutrinken ist nicht ehrenhaft, da der/die durstige
        Regent*in eine Hopfenmaß vorzieht.
      </p>
    </div>
  </div>
</div>
