<app-header title="Manifest"> </app-header>

<div class="content-wrapper">
  <div class="content">
    <div class="rule">
      <h2>Ehrenhaftigkeit</h2>
      <div class="line"></div>
      <p>
        Alle Gefährt*innen einer Kneipentour sind dazu aufgerufen sich als Ehrenfrau bzw. Ehrenmann zu verhalten. Dazu
        zählen höfliches Auftreten, geselliger Umgang aber auch vollständiges Leeren der Getränke. Die Ehrenhaftigkeit
        ist das oberste Gebot und muss im Konflikt mit anderen Geboten vorgezogen werden.
      </p>
    </div>

    <div class="rule">
      <h2>Hopfengarde</h2>
      <div class="line"></div>
      <p>
        Als Mitglied der Hopfengarde zählen jene, die von der ersten Kneipe an anwesend sind und eine Hopfenhalbe
        trinken. Zudem Bedarf es in Besonderem Maße der allzeitigen Ehrenhaftigkeit.
      </p>
    </div>

    <div class="rule">
      <h2>Regent*in des Reinheitsgebots</h2>
      <div class="line"></div>
      <p>
        Alle Mitglieder der Hopfengarde werden nach einer vollständig abgeschlossen Tour zu Regent*innen des
        Reinheitsgebots. Dieser Titel gilt auf Lebenszeit, außer:
      </p>
      <ol type="a">
        <li>
          der/die Regent*in muss während einer Kneipentour die Hopfengarde verlassen
        </li>
        <li>
          der/die Regent*in verhält sich außerhalb der Kneipentour unehrenhaft
        </li>
      </ol>
    </div>

    <div class="rule">
      <h2>Hopfenhalbe</h2>
      <div class="line"></div>
      <p>
        Als Hopfenhalbe zählt ein halber Liter Bier. Ausnahme ist, wenn der Mundschenk lediglich eine kleinere
        Maßeinheit z.B. 400ml Bier anbietet. Wahlweise können auch größere Einheiten z.B. Maß, Pincher oder Fass
        getrunken werden. Die zusätzliche Menge Flüssigkeit wird als Durstlöscher gezählt. Die Hopfenhalbe ist
        keinesfalls alternativlos und darf deshalb durch die gleiche Menge Weinschorle mit mindestens 50% Wein ersetzt
        werden.
      </p>
    </div>

    <div class="rule">
      <h2>Durstlöscher</h2>
      <div class="line"></div>
      <p>
        Getränke die über die Hopfenhalbe hinaus getrunken werden, beispielsweise Kurze, Zwischenwasser oder größere
        Maßeinheiten, sind gestattet. Sie bringen bei der Hopfengarde allerdings kein zusätzliches Ansehen.
        Selbstverständlich unterliegen auch Durstlöscher der Ehrenhaftigkeit, müssen also vollständig ausgetrunken
        werden. Eine zweite Hopfenhalbe in der selben Kneipe stellt einen Verstoß gegen das Gebot des Zugzwangs dar und
        führt ohne Genehmigung einer/eines Regent*in zum Ausschluss aus der Hopfengarde.
      </p>
    </div>

    <div class="rule">
      <h2>Zugzwang</h2>
      <div class="line"></div>
      <p>
        Nach dem Austrinken der ersten Hopfenhalbe durch ein Mitglied der Hopfengarde, müssen alle Gefährt*innen zügig
        austrinken und gemeinsam zur nächsten Kneipe aufbrechen, da andernfalls die Gefahr der Unterhopfung besteht. Die
        Hopfenhalbe in einem Schluck auszutrinken ist nicht ehrenhaft, da durstige Mitglieder der Hopfengarde ein
        Hopfenmaß, Hopfenpincher oder gar Hopfenfass vorzuziehen haben.
      </p>
    </div>

    <div class="rule">
      <h2>Herrscher*in der Hopfenlande</h2>
      <div class="line"></div>
      <p>
        Wer eine Kneipentour nach den Geboten dieses Manifests ausrichtet, wird zur/zum Herrscher*in dieses
        Hopfenlandes. Eine Tour auszurichten Bedarf aber zunächst der Zustimmung aller bisherigen Herrscher*innen, da
        eine Hopfenrebellion unehrenhaft ist.
      </p>
      <p>
        Herscher*innen sind in besonderstem Maße der Ehrenhaftigkeit verpflichtet und müssen zudem alle Gefährt*innen
        sicher und zielstrebig durch die Lande führen. Zudem muss die Auswahl der Kneipen die Ansprüche der Kneipentour
        erfüllen. Bei hoher Unehrenhaftigkeit können Herrscher*innen eine/n Gefährt*in von ihrem Hopfenland verbannen.
      </p>
    </div>
  </div>
</div>
