<router-outlet></router-outlet>
<div *ngIf="showMenu" class="buttons">
  <button mat-icon-button class="round" [routerLink]="['/manifest']" routerLinkActive="active">
    <mat-icon svgIcon="manifest"></mat-icon>
  </button>
  <button mat-icon-button class="round" [routerLink]="['/touren']" routerLinkActive="active">
    <mat-icon svgIcon="logo"></mat-icon>
  </button>
  <button mat-icon-button class="round" [routerLink]="['/kneipen']" routerLinkActive="active">
    <mat-icon svgIcon="home"></mat-icon>
  </button>
  <button mat-icon-button class="round" [routerLink]="['/info']" routerLinkActive="active">
    <mat-icon svgIcon="help"></mat-icon>
  </button>
</div>
