@import '~@angular/material/theming';

@font-face {
  font-family: 'KneipenpurFont';
  font-style: normal;
  font-weight: normal;
  src: url('./../assets/fonts/Source.ttf');
}

@font-face {
  font-family: 'KneipenpurFont';
  font-style: normal;
  font-weight: bold;
  src: url('./../assets/fonts/Source-Bold.ttf');
}

body {
  font-family: KneipenpurFont, monospace;
  font-size: 17px;
}

.bold {
  font-weight: bold;
}

a,
a:active,
a:visited,
a:focus {
  color: var(--color-text);
}
